#heroClr {
    background: #e2ebea;
}

#row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
}

h1 {
    font-size: 3.5rem;
}

.heroContent {
    width: 50%;
}

.heroContent>p {
    font-size: 1.1rem;
}

.heroBack {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.heroBackclr {
    width: 400px;
    height: 400px;
    background: #3d9d94;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
}

.redcirle {
    width: 150px;
    height: 150px;
    background: #e9627c;
    border-radius: 50%;
    left: 5%;
    bottom: -7%;
    position: absolute;
    z-index: -2;
}

.yellowcircle {
    width: 100px;
    height: 100px;
    background: #d67130;
    border-radius: 50%;
    left: 20%;
    bottom: 80%;
    position: absolute;
    z-index: -2;
}

.purplecircle {
    width: 80px;
    height: 80px;
    background: #ab8bc4;
    border-radius: 50%;
    right: 0;
    position: absolute;

}

.heroBackclr>img {
    width: 100%;
}

@media screen and (max-width:1000px) {
    #row {
        flex-direction: column;
    }

    .heroContent {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5rem;
        text-align: center;
    }

    .heroBack {
        width: 100%;
    }


}

@media screen and (max-width:700px) {
    .redcirle,
    .yellowcircle,
    .purplecircle {
        display: none;

    }
    .heroContent>h1{
            font-size: 2.5rem;
     
    }
 
}
@media screen and (max-width:500px) {
    .heroBackclr {
        width: 800px;
        height: 300px;
    }
}